body {
font-size: 12px;
line-height: 1.3    
}

.main, .footer {
padding: 20px;    
}

h4 {
margin-top: 40px;    
}

.card-image {
margin-top: 20px;
margin-bottom: 10px;    
}

.main section > div {
    width: 9%;
    display: inline-block;
    vertical-align: top
}

@media only screen and (max-width: 900px) {
    
    .main section > div {
    width: 100%;
    display: block;
    }
    
}